# Игнорируем виртуальное окружение
venv/

# Игнорируем Python bytecode файлы
*.pyc

# Игнорируем файлы окружения
*.env

# Игнорируем папку с кэшом
__pycache__/

# Игнорируем базу данных
*.db